[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
numpy = "*"
tensorflow = "*"
jupyter = ""
ipython = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
keras = "*"
mxnet = "*"
pyspark = "*"
docker-compose = "*"
flask = "*"
redis = "*"
hdfs = "*"
black = "*"

[requires]
python_version = "3.7"
