[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
pytest = "*"

[scripts]


[requires]
python_version = "3.10"
